{% extends 'base.html.twig' %}
{% block title %}Basket{% endblock %}

{% block body %}
    <h1>Shopping Basket</h1>
    <a href="/products">Go Back</a>
    {% if data %}
        <table id="articles" class="table table-striped">
            <thead>
            <td> {{ data|json_encode()  }}</td>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                {#<tr>#}
                    {#<td> {{ item}}</td>#}
                {#</tr>#}
                {% for it in item %}
                    <tr>
                    <td> {{ it}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No products to display</p>
    {% endif %}
    <a href="/emptyBasket" class="btn btn-dark">Clear Busket</a>
{% endblock %}