{% extends 'base.html.twig' %}
{% block title %}Products{% endblock %}

{% block body %}

    <a href="/cart" class="btn btn-dark">CARD</a>


    {% if products %}
        <table id="articles" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for article in products %}
                <tr>
                    <td>{{ article.name }}</td>
                    <td>{{ article.description }}</td>
                    <td>{{ article.price }}</td>
                    <td>
                        <form action='{{ path('add_to_cart', {'product_id': article.getId()}) }}'>
                            <button type="submit" class="btn btn-primary pull-right">
                                <i class="fa fa-check-square"></i>Add To Cart
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No products to display</p>
    {% endif %}
{% endblock %}