{% extends 'base.html.twig' %}
{% block title %}Products{% endblock %}

{% block body %}

    <a href="/basket" class="btn btn-dark">Basket</a>


    {% if products %}
        <table id="articles" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in products %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <p>
                            <a href="{{ url('shopping_basket', {'product_id':item.getId()}) }}" class="btn btn-primary">Add to Basket</a>
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No products to display</p>
    {% endif %}

{% endblock %}