{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-success">
                    <div class="panel-heading">List of Products</div>

                    {% if app.user != null %}
                        <table id="articles" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            {#<tbody>#}
                            {#{% for item in products %}#}
                                {#<tr>#}
                                    {#<td>{{ item.name }}</td>#}
                                    {#<td>{{ item.description }}</td>#}
                                    {#<td>{{ item.price }}</td>#}

                                    {#<td>#}
                                        {#<p>#}
                                            {#<a href="{{ url('show products',{'productId':item.getId()}) }}" class="btn btn-primary">Add to Basket</a>#}
                                        {#</p>#}
                                    {#</td>#}
                                {#</tr>#}
                            {#{% endfor %}#}
                            {#</tbody>#}
                        </table>
                        {% endif %}
                </div>

                {% if app.user == null %}
                    <a href="/login" class="btn btn-info"> You need to login to see the list 😜😜 >></a><br>
                    <a href="/register" class="btn btn-info"> or create new account 😜😜 >></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}